<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IPInterface.SimpleDemoAsync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PCEFTPOS.EFTClient.IPInterface.SimpleDemoAsync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <IPInterface.SimpleDemoAsync.Properties.Settings>
            <setting name="EFTClientAddress" serializeAs="String">
                <value>127.0.0.1:2011</value>
            </setting>
            <setting name="EnableCloud" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="PairingCode" serializeAs="String">
                <value />
            </setting>
        </IPInterface.SimpleDemoAsync.Properties.Settings>
        <PCEFTPOS.EFTClient.IPInterface.SimpleDemoAsync.Properties.Settings>
            <setting name="EFTClientAddress" serializeAs="String">
                <value>127.0.0.1:2011</value>
            </setting>
        </PCEFTPOS.EFTClient.IPInterface.SimpleDemoAsync.Properties.Settings>
    </userSettings>
</configuration>
